<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>password Reset</title>
</head>
<body>
    <h1>Reset Password</h1>
    <hr>
    <p> {{msg}} </p>
    {% if msg == 'Password successfully updated.' %}    
            <a href="/login">login</a>
    {% else %}
        <form method="post" action="{% url 'passReset' %}">
            {% csrf_token %}
            Enter your current password: <input type="password" name="password" value="" required><br><br>
            Enter your new password : <input type="password" name="passwordNew" value="" required><br><br>
            <button type="submit">Reset password</button>
        </form>
    {% endif %}

    </form>
</body>
</html>